[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-proxy-actions"]
	path = lib/dss-proxy-actions
	url = https://github.com/makerdao/dss-proxy-actions
